
# Python cache

__pycache__/
*.pyc

# Raw heavy txt from system
data/from_PS/

# documentation
docs/
# Notebook folder
notebook/

# Excel testing sandbox

test_excel/
# Ignore helper scripts
helpers/
